@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
                @Body
        </article>

        <footer class="footer mt-auto py-3">
            <div class="container text-center">
                <span class="text-muted">Indian Units Conversion &copy; @DateTime.Now.Year</span>
            </div>
        </footer>
    </main>
</div>